:root {
    --blanco:#FFFFFF;
    --oscuro:#212121;
    --primario:#FFC107;
    --secunndario:#0097A7;
    --gris:#757575;
}

html {
    font-size: 62.5%;
}

body{
    font-size: 16px; /* rem = 10px */
    font-family: "Krub", sans-serif;
}

.titulo {
    text-align: center;
    font-size: 3.8rem;
    color:red;
    font-family: "Krub", sans-serif;
    font-weight: 800;
    
}

.titulo span {
    font-size: 2rem;
    color: var(--oscuro);
}

.contenedor {
    width: 120rem;
    margin: 0 auto;
}

.nav-bg {
    background-color: var(--secunndario);   
}

.navegation-principal{
    padding: 1rem;
}

.navegation-principal a {
    color: var(--blanco);
    text-decoration:none;
}